/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
    /* сохраните этот селектор в приведённом виде.
      Так стили написанные ниже будут иметь больший вес,
      чем стили в медиазапросе предпочтений пользователя
    */
    --main-header-color: #FFC2E6;
    --header-color: #353430;
    --background-accent-color: #FF8DCB;
    --background-color: #FFF1F7;
    --section-header-color: #353430;
    --main-text-color: #353430;

    .header {
        background-image: url("../images/cover-image-light.png");
    }

    .decor {
        display: none;
    }
}

@media (prefers-color-scheme: light) {

    .page {
        /* сохраните этот селектор в приведённом виде.
          Так стили написанные ниже будут иметь больший вес,
          чем стили в медиазапросе предпочтений пользователя
        */
        --main-header-color: #FFC2E6;
        --header-color: #353430;
        --background-accent-color: #FF8DCB;
        --background-color: #FFF1F7;
        --section-header-color: #353430;
        --main-text-color: #353430;

        .header {
            background-image: url("../images/cover-image-light.png");
        }

        .decor {
            display: none;
        }
    }
}
