/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
    /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
    font-family: IBM Plex Mono, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    background-color: var(--background-color);
}

.header {
    display: grid;
    position: relative;
    grid-template-rows: 1fr min-content 1fr;
    grid-template-columns: 1fr;

    align-items: center;
    min-height: 668px;
    height: 100vh;
    padding-right: 10px;
    padding-top: 10px;

    background-image: url("../images/cover-image.png");
    background-position: bottom;
    background-size: cover;
}

.decorated-zone::after {
    position: absolute;
    top: 20px;
    right: 20px;
    content: "";
    border-top: 1px solid var(--header-color);
    border-right: 1px solid var(--header-color);
    width: 25px;
    height: 25px;
}

.decorated-zone::before {
    position: absolute;
    bottom: 20px;
    left: 20px;
    content: "";
    border-bottom: 1px solid var(--header-color);
    border-left: 1px solid var(--header-color);
    width: 25px;
    height: 25px;
}

@media (width < 768px) {
    .header {
        padding-left: 10px;
    }
}

.header__theme-menu {
    justify-self: end;
    align-self: end;
    color: var(--header-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
}

@media (width >= 1024px) {
    .header__theme-menu {
        align-self: start;
        justify-self: center;
    }
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 20px;
}

@media (width >= 1024px) {
    .header__theme-menu-list {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}

.header__theme-menu-button {
    background-color: inherit;
    padding: 13px;
    border: none;
}

.header__theme-menu-button:hover {
    cursor: pointer;
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:focus-visible {
    outline: none;
    text-decoration: underline;
    border: none;
}

.header__theme-menu-button_active {
    border: 1px solid var(--header-color);
}

.header__title {
    color: var(--main-header-color);
    text-shadow: 4px 4px 0 var(--accent-color);
    font-weight: 700;
    font-size: clamp(7.25rem, 6.0852rem + 5.8239vw, 9.8125rem);;
    line-height: 83%;
    letter-spacing: 0;
}

.header__description {
    justify-self: end;
    width: 40%;
    opacity: 1;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0;
    margin-bottom: 15%;
    margin-right: 20px;
}

@media (width <= 768px) {
    .header__description {
        width: 100%;
        margin-right: 0px;
    }
}

.title-decor {
    color: #000028;
    background-color: var(--background-accent-color);

}

.decor {
    position: absolute;
    right: 50px;
    top: 20px;
    text-transform: uppercase;
    color: var(--header-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.decor::after {
    content: "";
    position: absolute;
    box-shadow: 0 0 4px 2px var(--header-color);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--header-color);
    margin-left: 10px;
    margin-top: 8px;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 60px;
    padding: 0 20px;
}

.section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

@media (width < 768px) {
    .section {
        grid-template-columns: 1fr;
    }
}

.columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

@media (width <= 768px) {
    .columns {
        grid-template-columns: 1fr;
    }
}

.section__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0;
    color: var(--header-color);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0;

}

.content__title {
    color: var(--section-header-color);
    background-color: var(--background-accent-color);
}

.main-text {
    color: var(--main-text-color);
}

.content__list {
    list-style: none;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.images {
    display: grid;
    height: 100%;
    width: 100%;
    gap: 20px;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, calc((100% - 40px) / 3));
    grid-template-areas: "sunset sunset ice"
                            "tape books ice"
                            "tape street street";
    justify-items: stretch;
    align-items: stretch;
}

@media (width < 768px) {

    .images {
        display: flex;
        flex-direction: column;
    }
}

.images__sunset {
    grid-area: sunset;
}

.images__ice-cream {
    grid-area: ice;
}

.images__tape {
    grid-area: tape;
}

.images__books {
    grid-area: books;
}

.images__street {
    grid-area: street;
}

.link {
    color: var(--main-text-color);
    text-shadow: 1px 1px 0 var(--accent-color);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}


.link:focus {
    outline: none;
}

.link:focus-visible {
    outline: none;
    border: 1px solid var(--main-text-color);
}