/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    --accent-color: #FF0070;
    --background-accent-color: #FF0070;
    --main-header-color: #DB00FF;
    --header-color: #FF0070;
    --background-color: #000028;
    --section-header-color: #000028;
    --main-text-color: #F1B2CE;
    --main-link-color: #F1B2CE;
}
